<!--
* Class: CSC-648 Fall 2021
* Author: Htet, Manali
* Description: Home page, the first page when the site loads
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-215535631-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->


    <link rel="import" href="header.html">
    <link rel="stylesheet" href="../../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../static/css/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/89/9a/59/899a5934848695c4305e1882e5753433.png" />

    <title>Home Page</title>

    <style>

            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body{
                height: 100vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                background-color: #34383a;
                background: url("../../static/images/tutoring_HomePage5.jpg") no-repeat;
                background-size: cover;
            }

            #header{
                height: 17%;
                /*padding-bottom: 10px;*/
            }

            .container > form{
                display: flex;
            }

            .container > *{
                margin: 0 10px;
            }

            #cardContainer{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }

            #cardContainer > div{
                padding: 0;
                width: max-content;
            }

            #space{
                height: 40px;
            }

            .offcanvas-bottom-button{
            text-align: center;
            padding-top: 60px;
            }

        </style>
</head>

<body>

<div id="header">
    {% include 'user/header.html' %}
</div>
{% include 'user/navbar.html' %}

<main>

    <!--Cards for recent tutor postings-->

    <h3 style="text-align: center"><b>RECENT TUTOR POSTINGS</b></h3>

    <div class="row" id="cardContainer" >
        {% for i in tutorDict %}
        <div class="col-md-3">
        <div class="card" style="width: 305px;">
              <img class="card-img-top" src="static/dataset/tutorAvatar/{{i[7]}}" alt="Tutor Image" height="260px" width="70px">
              <div class="card-body">
                <h4 class="card-title" style="text-align: center">{{i[12]}}</h4>
                  <br>
                  <h5 class="card-text"><b>Major Tutored:</b> {{i[10]}}</h5>
                <h5 class="card-text"><b>Course Tutored:</b> {{i[11]}}</h5>
                <form action="/sendMessage" method="post">
                        <input type="hidden" value="{{i[1]}}" class="form-control" name="tutorId">
                        <br>
                        <input type="text" class="form-control" name="msgDesc" id="colFormLabel" placeholder="Hi, I'm interested in your tutoring services!" required>
                        <br>
                        <div style="text-align: center"><button type="submit" class="btn btn-primary">Send Message to Tutor</button></div>
                </form>

              </div>
        </div>
        </div>
        {% endfor %}
    </div>

    <div class="offcanvas-bottom-button">
        <form action="/tutorPosting" method="post">
            <button class="btn btn-dark" type="submit">Apply Tutor Posting</button>
        </form>
    </div>

    <div id="space"></div>

    <div class="container-fluid">

        <section class="divider mt-4">
            <div class="row justify-content-center align-items-center text-center">
                <h2 style="color: black">Online Tutors for your class</h2>
            </div>

            <ul class="nav justify-content-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false" style="color: black">Business courses</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">BUS 100 Tutors</a></li>
                        <li><a class="dropdown-item" href="#">BUS 256 Tutors</a></li>
                        <li><a class="dropdown-item" href="#">BUS 630 Tutors</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">All BUS tutors</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false" style="color: black">Science courses</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">PHYS 100 Tutors</a></li>
                        <li><a class="dropdown-item" href="#">BIO 100 Tutors</a></li>
                        <li><a class="dropdown-item" href="#">CHEM 100 Tutors</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">All SCI tutors</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false" style="color: black">Math courses</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">MATH 100 Tutors</a></li>
                        <li><a class="dropdown-item" href="#">Calculus Tutors</a></li>
                        <li><a class="dropdown-item" href="#">Statistics Tutors</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">All MATH tutors</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false" style="color: black">English courses</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">ENG 100 Tutors</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">All ENG tutors</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false" style="color: black">Other courses</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Music tutors</a></li>
                        <li><a class="dropdown-item" href="#">Accounting tutors</a></li>
                        <li><a class="dropdown-item" href="#">Economics tutors</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">All OTHER tutors</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>
</main>

<script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
<script src="../../static/js/bootstrap.js"></script>

{% include 'user/footer.html' %}

</body>

</html>